DATABASE_URL=""
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
RESEND_API_KEY=""
JWT_SECRET=""
TOKEN_ENCRYPTION_KEY=""
INTERSWITCH_CLIENT_ID=""
INTERSWITCH_SECRET=""
INTERSWITCH_BASE_URL=""
INTERSWITCH_WEBHOOK_SECRET=""
